@font-face {
    font-family: 'meslolgsdz_nerd_fontregular';
    src: url('https://pond.computer/static/fonts/meslo_lg_s_dz_regular_nerd_font_complete-webfont.woff2') format('woff2'),
         url('https://pond.computer/static/fonts/meslo_lg_s_dz_regular_nerd_font_complete-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meslolgsdz_nerd_fontBdIt';
    src: url('https://pond.computer/static/fonts/meslo_lg_s_dz_bold_italic_nerd_font_complete-webfont.woff2') format('woff2'),
         url('https://pond.computer/static/fonts/meslo_lg_s_dz_bold_italic_nerd_font_complete-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'meslolgsdz_nerd_fontbold';
    src: url('https://pond.computer/static/fonts/meslo_lg_s_dz_bold_nerd_font_complete-webfont.woff2') format('woff2'),
         url('https://pond.computer/static/fonts/meslo_lg_s_dz_bold_nerd_font_complete-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'meslolgsdz_nerd_fontitalic';
    src: url('https://pond.computer/static/fonts/meslo_lg_s_dz_italic_nerd_font_complete-webfont.woff2') format('woff2'),
         url('https://pond.computer/static/fonts/meslo_lg_s_dz_italic_nerd_font_complete-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 13px;
}
@media only screen {
  font-size: 2em;
  background: #AABAE9;
  border-bottom: 4px solid #7D7DBB;
  margin: -20px -20px 20px -20px;
  padding: 20px;
  main {
    border: 4px solid #7D7DBB;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
  }
  body {
    color: black;
    background-color: #B0B8C1;
    font-family: 'Arial, Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.2;
    height: 100%;
    max-width: 85ch; 
    padding: 1ch; 
    margin: auto;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'meslolgsdz_nerd_fontbold';
    font-weight: bold;
    font-style: normal;
  }
  p {
    font-family: 'Arial, Helvetica';
    font-size: 13px;
  }
  h1 {
    font-size: 2em;
    color: black;
    background: white;
    border: 4px solid #7D7DBB;
    border-top: 4px solid #7D7DBB;
    padding: 20px;
    margin-top: 10px;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    color: black;
    text-decoration: underline; 
    text-shadow: 1px 1px 8px #000;    
  }
  .links {
    cursor: pointer;
    margin: 2rem 0;
    padding-bottom: 0.06rem;
    transition: 0.2s all ease;
    font-size: 13px;
    background: white;
    border: 4px solid #7D7DBB;
    border-top: 4px solid #7D7DBB;
    border-bottom: 4px solid #7D7DBB;
  }
  .navbar {
    color: white;
    text-align: right;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
  .navbar-nav {
    color: white;
    border: 4px solid #7D7DBB;
    background: #7D7DBB;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
    list-style: none;
    max-width: 15%;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  footer {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  table {
    color: white;
    border: 4px solid #7D7DBB;
    background-color: #7D7DBB;
    padding-top: 2px;
    padding-bottom: 4px;
    max-width: 700px;
    table-layout: fixed;
  }
  *::selection,
  *::-moz-selection {
    color: black;
    background: white;
    text-shadow: 1px 1px 8px #000;
    transition: 0.2s all ease;
  }
  a::selection,
  a::-moz-selection {
    color: black;
    background: white;
    text-shadow: 1px 1px 8px #000;
    transition: 0.2s all ease;
  }
}
