*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1rem;
  background-color: white;
  line-height: 1.3;
  height: 100%; /*-webkit-font-smoothing: antialiased;*/
  max-width: 120ch;
  padding: 2ch;
  margin: auto;
}

tr,
td {
  font-size: 1.1rem;
  line-height: 1.3;
}

h1,
h2,
h3,
h4 {
  margin-top: 30px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a.corner {
  position: fixed;
  top: 0;
  right: 0;
}
.corner svg {
  fill: #e1e1e1;
  color: #000;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 99;
  width: 4.375rem;
  height: 4.375rem;
}
.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
  animation: octocat-wave 560ms ease-in-out;
}
/* blockquote { text-align: justify; } */

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

svg {
  max-width: 100%;
  width: 2em;
}

svg path {
  fill: black;
}

svg:hover path,
svg:focus path {
  text-shadow: 1px 1px 8px grey;
  transition: 0.2s all ease;
}

main {
  padding: 0 40px;
  max-width: 100vh;
  min-height: 80%;
}

.container {
  max-width: 100vh;
  margin: 0 auto;
}

footer {
  border-top: 0.1rem dashed;
  margin: 5px;
  padding-top: 1em;
  font-size: 0.75em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  --text-opacity: 1;
  color: #718096;
}

/* footer { text-align: center; padding: 40px; clear: both; position: relative; display: block; } */

/* ol { */
/*   padding: 1rem 0; */
/* } */

/* ul { */
/*   list-style: circle; */
/* } */

ul.noPoints {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

tr:hover {
  background-color: none;
}

th,
td {
  padding: 5px;
  text-align: left;
}

td {
  height: 50px;
  vertical-align: center;
  text-align: center;
}

table {
  width: 100%;
}

img {
  display: block;
  /*  padding: 5px 5px 5px 5px; */
  margin: auto;
  vertical-align: middle;
  border-radius: 2px;
  max-width: 90%;
  height: auto;
}

/* .header { */
/*   position: fixed; */
/*   top: 0; */
/*   right: 0; */
/*   padding-top: 30px; */
/*   text-align: center; */
/*   margin: 0 auto; */
/*   z-index:99; */
/*   width:4.375rem; */
/*   height:4.375rem; */
/* } */

.header {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

.topnav a {
  color: black;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  text-decoration: bold;
}

.topnav {
  padding-top: 10px;
  border-bottom: 1px dashed #718096;
}

.topnav a:hover {
  text-decoration: italic;
}

.index {
  float: left;
  min-width: 300px;
}

.indexContainer {
  margin-top: -30px;
}

time {
  color: #888;
  float: right;
  text-decoration: italic;
}

#twitter_div {
  font-family: helvetica, arial;
  border: 2px #ca8 solid;
  padding: 0.4em;
  margin: 1em;
  background: #fec;
  float: right;
  width: 200px;
  text-align: center;
}

.postItNote {
  font-family: helvetica, arial;
  border: 2px #ca8 solid;
  padding: 0.4em;
  margin: 1em;
  background: #fec;
  float: right;
  max-width: 200px;
  text-align: left;
}

.timestamp {
  color: maroon;
  float: right;
  text-decoration: italic;
  font-size: 1rem;
  padding: 0.3em;
}

/* body { */
/*   font-family: Liberation Sans, Arial, sans-serif; */
/*   background-color: #effeff; */
/*   line-height: 1.3; */
/* } */
/* main { */
/*   max-width: 70ch; */
/*   padding: 2ch; */
/*   margin: auto; */
/* } */
/* a { */
/*   color: #6666ff; */
/*   text-decoration: none; */
/*   outline: 0; */
/* } */
/* a:hover { */
/*   text-decoration: underline; */
/* } */
/* ol { */
/*   list-style-type: none; */
/*   padding: 1rem 0; */
/* } */
/* li { */
/*   margin-bottom: 0.5rem; */
/* } */
/* a { */
/*   display: inline-block; */
/*   width: 60%; */
/* } */
/* time { */
/*   float: right; */
/*   color: #888; */
/*   text-decoration: italic; */
/* } */
/* ::selection { */
/*   background-color: #fff888; */
/* } */
